Source: libface
Section: utils
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends: 
 debhelper (>= 11), 
 cmake, 
 pkg-config,
 libopencv-dev, 
 libncnn-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: libface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopencv-core3.2, libncnn
Conflicts:
 libface
Replaces:
 libface
Recommends: libopencv, libncnn, deepin-ocr, ffmpegthumbnailer, ffmpeg
Description: Image Viewer library.
 Deepin Image Viewer library.

Package: libface-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libface(=${binary:Version}), libopencv-core-dev, libncnn-dev
Conflicts:
 libface-dev
Replaces:
 libface-dev
Recommends: libqt5libqgtk2, kimageformat-plugins ,deepin-ocr
Description: Image Viewer library development headers.
 Deepin Image Viewer library development headers.
